---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/page/random/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - "../summary/Gentianella_alborosea"
      Content-Location:
      - https://en.wikipedia.org/api/rest_v1/page/random/summary
      X-Content-Security-Policy:
      - default-src 'none'; frame-ancestors 'none'
      X-Webkit-Csp:
      - default-src 'none'; frame-ancestors 'none'
      X-Client-Ip:
      - 75.89.171.108
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 Dec 2021 13:22:53 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/page/summary/Gentianella_alborosea
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Summary/1.5.0"
      Content-Language:
      - en
      Content-Location:
      - https://en.wikipedia.org/api/rest_v1/page/summary/Gentianella_alborosea
      X-Content-Security-Policy:
      - default-src 'none'; frame-ancestors 'none'
      X-Webkit-Csp:
      - default-src 'none'; frame-ancestors 'none'
      Etag:
      - W/"1009999588/de5a7020-60ec-11ec-a9da-52c13ea4983d"
      X-Client-Ip:
      - 75.89.171.108
    body:
      encoding: ASCII-8BIT
      string: '{"type":"standard","title":"Gentianella alborosea","displaytitle":"<i>Gentianella
        alborosea</i>","namespace":{"id":0,"text":""},"wikibase_item":"Q3100864","titles":{"canonical":"Gentianella_alborosea","normalized":"Gentianella
        alborosea","display":"<i>Gentianella alborosea</i>"},"pageid":30729773,"thumbnail":{"source":"https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Gentianella_alborosea.JPG/320px-Gentianella_alborosea.JPG","width":320,"height":240},"originalimage":{"source":"https://upload.wikimedia.org/wikipedia/commons/d/d6/Gentianella_alborosea.JPG","width":2560,"height":1920},"lang":"en","dir":"ltr","revision":"1009999588","tid":"fe32d9a0-60e7-11ec-8105-d5805acefbba","timestamp":"2021-03-03T09:25:59Z","description":"Species
        of plant","description_source":"local","content_urls":{"desktop":{"page":"https://en.wikipedia.org/wiki/Gentianella_alborosea","revisions":"https://en.wikipedia.org/wiki/Gentianella_alborosea?action=history","edit":"https://en.wikipedia.org/wiki/Gentianella_alborosea?action=edit","talk":"https://en.wikipedia.org/wiki/Talk:Gentianella_alborosea"},"mobile":{"page":"https://en.m.wikipedia.org/wiki/Gentianella_alborosea","revisions":"https://en.m.wikipedia.org/wiki/Special:History/Gentianella_alborosea","edit":"https://en.m.wikipedia.org/wiki/Gentianella_alborosea?action=edit","talk":"https://en.m.wikipedia.org/wiki/Talk:Gentianella_alborosea"}},"extract":"Gentianella
        alborosea is a species of plant in the family Gentianaceae. It is one of two
        types of hercampuri, which is traditionally used in herbal medicine as an
        infusion, the other type of hercampuri being Gentianella nitida. It has been
        used in Peruvian folk medicine since before the time of the Incas. These small
        shrubs are native to the high Andes of Peru. The Junin Province is a region
        of Peru that grows hercampuri.","extract_html":"<p><i><b>Gentianella alborosea</b></i>
        is a species of plant in the family Gentianaceae. It is one of two types of
        hercampuri, which is traditionally used in herbal medicine as an infusion,
        the other type of hercampuri being <i>Gentianella nitida</i>. It has been
        used in Peruvian folk medicine since before the time of the Incas. These small
        shrubs are native to the high Andes of Peru. The Junin Province is a region
        of Peru that grows hercampuri.</p>"}'
  recorded_at: Mon, 20 Dec 2021 13:22:53 GMT
- request:
    method: get
    uri: https://ores.wikimedia.org/v3/scores/enwiki/?models=articletopic&revids=1009999588
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ip:
      - 75.89.171.108
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "enwiki": {
            "models": {
              "articletopic": {
                "version": "1.3.0"
              }
            },
            "scores": {
              "1009999588": {
                "articletopic": {
                  "score": {
                    "prediction": [
                      "STEM.Biology",
                      "STEM.STEM*"
                    ],
                    "probability": {
                      "Culture.Biography.Biography*": 0.0036968351727654316,
                      "Culture.Biography.Women": 0.001537048889796137,
                      "Culture.Food and drink": 0.09639777801476372,
                      "Culture.Internet culture": 0.00011014070754384124,
                      "Culture.Linguistics": 0.0009695127265597229,
                      "Culture.Literature": 0.0009503327845400274,
                      "Culture.Media.Books": 0.00025132520631646337,
                      "Culture.Media.Entertainment": 0.0001842746973288901,
                      "Culture.Media.Films": 0.00010332186314265172,
                      "Culture.Media.Media*": 0.0013889695077943251,
                      "Culture.Media.Music": 0.0003067222662535956,
                      "Culture.Media.Radio": 9.037027471557676e-06,
                      "Culture.Media.Software": 0.00013916812132565656,
                      "Culture.Media.Television": 0.00033502544801306114,
                      "Culture.Media.Video games": 1.950829753616974e-05,
                      "Culture.Performing arts": 0.00019026596643285321,
                      "Culture.Philosophy and religion": 0.005876558821849751,
                      "Culture.Sports": 0.0013087599709333457,
                      "Culture.Visual arts.Architecture": 0.00029787092973153665,
                      "Culture.Visual arts.Comics and Anime": 0.00015386517547581288,
                      "Culture.Visual arts.Fashion": 0.0005050962995785532,
                      "Culture.Visual arts.Visual arts*": 0.0019164530201795215,
                      "Geography.Geographical": 0.001968242723418224,
                      "Geography.Regions.Africa.Africa*": 0.002353000038520746,
                      "Geography.Regions.Africa.Central Africa": 0.0009578914544466537,
                      "Geography.Regions.Africa.Eastern Africa": 6.906936559663806e-05,
                      "Geography.Regions.Africa.Northern Africa": 0.0002542620655529005,
                      "Geography.Regions.Africa.Southern Africa": 0.0005282044464941755,
                      "Geography.Regions.Af[...]
