---
http_interactions:
- request:
    method: get
    uri: https://randomincategory.toolforge.org/Good_articles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://en.wikipedia.org/wiki/Amos Singletary
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 Dec 2021 14:08:43 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/page/summary/Amos%20Singletary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - Amos_Singletary
      X-Content-Security-Policy:
      - default-src 'none'; frame-ancestors 'none'
      X-Webkit-Csp:
      - default-src 'none'; frame-ancestors 'none'
      X-Client-Ip:
      - 75.89.171.108
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 Dec 2021 14:08:43 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/page/summary/Amos_Singletary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Summary/1.5.0"
      Content-Language:
      - en
      Content-Location:
      - https://en.wikipedia.org/api/rest_v1/page/summary/Amos_Singletary
      X-Content-Security-Policy:
      - default-src 'none'; frame-ancestors 'none'
      X-Webkit-Csp:
      - default-src 'none'; frame-ancestors 'none'
      Etag:
      - W/"1037143073/69b41c10-60f8-11ec-b915-6b9e5e879925"
      X-Client-Ip:
      - 75.89.171.108
    body:
      encoding: ASCII-8BIT
      string: '{"type":"standard","title":"Amos Singletary","displaytitle":"Amos Singletary","namespace":{"id":0,"text":""},"wikibase_item":"Q41327170","titles":{"canonical":"Amos_Singletary","normalized":"Amos
        Singletary","display":"Amos Singletary"},"pageid":55384100,"lang":"en","dir":"ltr","revision":"1037143073","tid":"39467f00-60f8-11ec-ad78-09a87b8a2f1b","timestamp":"2021-08-04T19:18:42Z","description":"American
        mill operator, lawyer, justice of the peace","description_source":"local","content_urls":{"desktop":{"page":"https://en.wikipedia.org/wiki/Amos_Singletary","revisions":"https://en.wikipedia.org/wiki/Amos_Singletary?action=history","edit":"https://en.wikipedia.org/wiki/Amos_Singletary?action=edit","talk":"https://en.wikipedia.org/wiki/Talk:Amos_Singletary"},"mobile":{"page":"https://en.m.wikipedia.org/wiki/Amos_Singletary","revisions":"https://en.m.wikipedia.org/wiki/Special:History/Amos_Singletary","edit":"https://en.m.wikipedia.org/wiki/Amos_Singletary?action=edit","talk":"https://en.m.wikipedia.org/wiki/Talk:Amos_Singletary"}},"extract":"Amos
        Singletary was an American gristmill operator and justice of the peace from
        Sutton, Massachusetts, who served in both houses of the Massachusetts General
        Court. An Anti-Federalist, he voted against the U.S. Constitution as a delegate
        to the Massachusetts Ratifying Convention. He was angered by perceived Federalist
        arrogance surrounding the adoption of the Constitution and thought that it
        provided too much power to the national government. He supported the American
        Revolution and wanted to limit wealthy Bostonians'' sway over state politics.","extract_html":"<p><b>Amos
        Singletary</b> was an American gristmill operator and justice of the peace
        from Sutton, Massachusetts, who served in both houses of the Massachusetts
        General Court. An Anti-Federalist, he voted against the U.S. Constitution
        as a delegate to the Massachusetts Ratifying Convention. He was angered by
        perceived Federalist arrogance surrounding the adoption of the Constitution
        and thought that it provided too much power to the national government. He
        supported the American Revolution and wanted to limit wealthy Bostonians''
        sway over state politics.</p>"}'
  recorded_at: Mon, 20 Dec 2021 14:08:43 GMT
- request:
    method: get
    uri: https://ores.wikimedia.org/v3/scores/enwiki/?models=articletopic&revids=1037143073
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ip:
      - 75.89.171.108
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "enwiki": {
            "models": {
              "articletopic": {
                "version": "1.3.0"
              }
            },
            "scores": {
              "1037143073": {
                "articletopic": {
                  "score": {
                    "prediction": [
                      "Culture.Biography.Biography*",
                      "Geography.Regions.Americas.North America",
                      "History and Society.Politics and government"
                    ],
                    "probability": {
                      "Culture.Biography.Biography*": 0.9724589248374617,
                      "Culture.Biography.Women": 0.0023738767676650574,
                      "Culture.Food and drink": 0.005966011218856859,
                      "Culture.Internet culture": 0.002116582605327889,
                      "Culture.Linguistics": 0.002293982562317221,
                      "Culture.Literature": 0.004549210445930329,
                      "Culture.Media.Books": 0.0007085363659699635,
                      "Culture.Media.Entertainment": 0.0010071260640910384,
                      "Culture.Media.Films": 0.00066030710735436,
                      "Culture.Media.Media*": 0.037509069926051304,
                      "Culture.Media.Music": 0.0015673122583483693,
                      "Culture.Media.Radio": 0.0010749806110835563,
                      "Culture.Media.Software": 0.0015557367713798565,
                      "Culture.Media.Television": 0.0005703021431039527,
                      "Culture.Media.Video games": 7.795878870157955e-05,
                      "Culture.Performing arts": 0.001985210021960063,
                      "Culture.Philosophy and religion": 0.10949468484679986,
                      "Culture.Sports": 0.0029315192310683342,
                      "Culture.Visual arts.Architecture": 0.00192978221081516,
                      "Culture.Visual arts.Comics and Anime": 0.0005196095393038379,
                      "Culture.Visual arts.Fashion": 0.0010344733897239254,
                      "Culture.Visual arts.Visual arts*": 0.008572009258018409,
                      "Geography.Geographical": 0.028831234208670134,
                      "Geography.Regions.Africa.Africa*": 0.008693170318526889,
                      "Geography.Regions.Africa.Central Africa": 0.00023172512997328879,
                      "Geography.Regions.Africa.Eastern Africa": 0.0003525692443002089,
                      "Geography.Regions.Africa.Northern Africa": 0.0004782611620748492,
                      "Geography.Regions.Africa.Southern Africa": 0.00029332563293901515,
                      "Geography.Regions.[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&formatversion=2&props=sitelinks&sitefilter=enwiki&sites=enwiki&titles=Amos%20Singletary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 75.89.171.108
    body:
      encoding: UTF-8
      string: '{"entities":{"Q41327170":{"type":"item","id":"Q41327170","sitelinks":{"enwiki":{"site":"enwiki","title":"Amos
        Singletary","badges":["Q17437798"]}}}},"success":1}'
  recorded_at: Mon, 20 Dec 2021 14:08:44 GMT
recorded_with: VCR 6.0.0
