<title>Wiki Stumble</title>
<meta name="description" content="Discover interesting Wikipedia articles through personalized recommendations." />
<link rel="canonical" href="https://wikistumble.herokuapp.com/" />

<meta property="og:title" content="Wiki Stumble: Explore Wikipedia" />
<meta property="og:description" content="Discover interesting Wikipedia articles through personalized recommendations." />
<meta property="og:url" content="https://wikistumble.herokuapp.com/" />
<meta property="og:image" content="https://wikistumble.herokuapp.com/android-chrome-512x512.png" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary" />
<meta property="twitter:image" content="https://wikistumble.herokuapp.com/android-chrome-512x512.png" />
<meta property="twitter:title" content="Wiki Stumble: Explore Wikipedia" />
<meta property="twitter:description" content="Discover interesting Wikipedia articles through personalized recommendations." />
<meta name="twitter:creator" content="@fpsvogel" />